<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="edu.sram.dao.NoteDao">

<select id="loadNote" resultType="edu.sram.entity.Note" parameterType="string">
   select * from cn_note where cn_notebook_id=#{cn_notebook_id} and cn_note_status_id=1
    order by cn_note_create_time desc
</select>


<insert id="addNote" parameterType="edu.sram.entity.Note">
    insert into cn_note (cn_note_id,cn_notebook_id,cn_user_id,cn_note_title,cn_note_create_time,cn_note_last_modify_time,cn_note_status_id,cn_note_body)
    values (#{cn_note_id},#{cn_notebook_id},#{cn_user_id},#{cn_note_title},#{cn_note_create_time},#{cn_note_last_modify_time},"1"," ")
</insert>


<select id="load" resultType="string" parameterType="string">
   select cn_note_body from cn_note where cn_note_id=#{cn_note_id}
</select>


<update id="saveNotes">
   update cn_note set cn_note_title=#{cn_note_title},cn_note_body=#{cn_note_body}
   where  cn_note_id=#{cn_note_id} and cn_notebook_id=#{cn_notebook_id} and cn_user_id=#{cn_user_id}
</update>


<update id="deleteNote">
   update cn_note set cn_note_status_id=2 where cn_note_id=#{cn_note_id}
</update>


<insert id="addShareNote" parameterType="edu.sram.entity.ShareNote">
    insert into cn_share (cn_share_id,cn_share_title,cn_share_body,cn_note_id)
    values (#{cn_share_id},#{cn_share_title},#{cn_share_body},#{cn_note_id})
</insert>


<select id="checkShareNote" parameterType="string" resultType="edu.sram.entity.ShareNote">
    select * from cn_share where cn_note_id=#{cn_note_id}
</select>


<select id="loadContacts" resultType="edu.sram.entity.Note" parameterType="string">
   select * from cn_note where cn_user_id=#{cn_user_id} and cn_note_status_id=2
    order by cn_note_create_time desc
</select>


<delete id="reallyDeleteNote" parameterType="string">
   delete from cn_note where cn_note_id=#{cn_note_id}
</delete>


<delete id="DeleteShareNote" parameterType="string">
   delete from cn_share where cn_note_id=#{cn_note_id}
</delete>


<select id="searchNote" resultType="edu.sram.entity.Note">
   select * from cn_note where cn_note_title like concat(concat('%',#{0}),'%') limit #{1},2
</select>


<update id="replayNote" parameterType="string">
   update cn_note set cn_notebook_id=#{0},cn_note_status_id=1
   where  cn_note_id=#{1}
</update>


<update id="moveNote" parameterType="string">
   update cn_note set cn_notebook_id=#{0}
   where  cn_note_id=#{1}
</update>

<select id="checkLikeNote" parameterType="string" resultType="edu.sram.entity.LikeNote">
    select * from cn_like where cn_note_id=#{cn_note_id}
</select>


<insert id="addLikeNote" parameterType="edu.sram.entity.LikeNote">
   insert into cn_like (cn_like_id,cn_user_id,cn_note_id,cn_like_title,cn_like_body)
   values (#{cn_like_id},#{cn_user_id},#{cn_note_id},#{cn_like_title},#{cn_like_body})
</insert>

<select id="likeNoteList" parameterType="string" resultType="edu.sram.entity.LikeNote">
    select * from cn_like where cn_user_id=#{cn_user_id}
</select>

<update id="updateLikeNote" parameterType="string">
   update cn_like set cn_like_title=#{0},cn_like_body=#{1}
   where cn_note_id=#{2}
</update>


<delete id="deleteLikeNote" parameterType="string">
   delete from cn_like where cn_note_id=#{cn_note_id}
</delete>

</mapper>
