<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:context="http://www.springframework.org/schema/context"
		xmlns:jdbc="http://www.springframework.org/schema/jdbc"
		xmlns:jee="http://www.springframework.org/schema/jee"
		xmlns:tx="http://www.springframework.org/schema/tx" 
		xmlns:aop="http://www.springframework.org/schema/aop"
		xmlns:mvc="http://www.springframework.org/schema/mvc" 
		xmlns:jpa="http://www.springframework.org/schema/jpa"
		xmlns:util="http://www.springframework.org/schema/util"  
		xsi:schemaLocation="
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
			http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/tx/spring-jdbc-3.2.xsd
			http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-2.5.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
			http://www.springframework.org/schema/data/jpa http://www.springframework.org/schema/date/jpa/spring-jpa-1.3.xsd
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
			http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-3.2.xsd
			http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
			<!-- 从这里开始写-->
			
			<!-- 配置handlerMapping -->
			<mvc:annotation-driven></mvc:annotation-driven>
			
			<!-- 开启扫描开关 -->
            <context:component-scan base-package="edu.sram"></context:component-scan>
            
            <!-- 配置视图层 -->
            <bean id="viewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
	            <property name="prefix" value=""></property>
			    <property name="suffix" value=".html"></property>
            </bean>
            
			<!-- 加载本地文件 -->	
			<context:property-placeholder location="classpath:jdbc.properties"/>
			
			<!-- 配置C3P0数据源 -->
           <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
               <property name="user" value="${jdbc.user}"></property>
               <property name="password" value="${jdbc.password}"></property>
               <property name="jdbcUrl" value="${jdbc.url}"></property>
               <property name="driverClass" value="${jdbc.driverClass}"></property>
           </bean>
           
           <!-- sqlSessionFactory -->
           <bean id="sqlSessionFactoryBean" class="org.mybatis.spring.SqlSessionFactoryBean">
                <property name="dataSource" ref="dataSource"></property>
                <property name="mapperLocations" value="classpath:edu/sram/mapper/*.xml"></property>
           </bean>
           
           <!-- 扫描所有的Dao接口 并为其生成实现 -->
           <bean id="mapperScannerConfigurer" class="org.mybatis.spring.mapper.MapperScannerConfigurer">
              <property name="basePackage" value="edu.sram.dao"></property>
           </bean>
           
           <!-- Spring注解事务配置 -->
           <bean id="dataSourceTransactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
	       <property name="dataSource" ref="dataSource"></property>
	       </bean>
	       
	       <!-- @Transactional -->
	       <tx:annotation-driven transaction-manager="dataSourceTransactionManager"/>
	       
	       <!-- **注解AOP配置 -->
		   <!-- 通过组件扫描将ExceptionBean纳入spring容器 -->
	       <!-- 开启AOP注解,@Aspect,@Pointcut,@Before -->
	       <aop:aspectj-autoproxy />
		
</beans>



